<nav id="floating-top-nav">
    <a class="mobile-menu-button" href=""><img src="/img/hamburger-icon.svg"/></a>
    <%include ./navigation %>
</nav>

<header>
    <nav class="navigation" id="top-nav">
        <div class="left-side">
            <a class="mobile-menu-button" href=""><img src="/img/hamburger-icon.svg"/></a>
            <%include ./navigation %>
        </div>
        <div class="right-side">
            <div class="logo-section">
                <img src="/img/trusting-jesus-logo-dark.svg"/>
            </div>
        </div>
    </nav>
</header>