<ul class="d-none d-lg-block">
    <li><a href="/">Home</a></li>
    <li><a href="/statement-of-faith">Statement Of Faith</a></li>
    <li><a href="/how-to-be-saved">How To Be Saved</a></li>
    <li><a href="/articles">News and Articles</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>