<!doctype>
<html>
<head>
    <%include ../partials/head %>
</head>
<body>
<%include ../partials/header %>
<div class="container main-section">
    <%include ../partials/breadcrumb %>
    <div class="contact-section">
        <h1>Contact</h1>
        <p>We would love to hear from you. For all inquiries please send us an email at the address below.</p>
        <p>Email: info@trustingjesus.org</p>
    </div>
</div>
<%include ../partials/footer %>
<%include ../partials/footer_scripts %>
</body>
</html>